/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset "utf-8";
/* CSS Document */

.pc-ex{}
.sp-ex{display:none;}


/*
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
/* font-size の指定なし */
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.67em;
}

.wrapper {
    width: 100%;
    padding: 1% 2% 5% 2%;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
//    border: 1px solid #ff0000;
}

//Railsでは、エラーメッセージを含むフィールドは自動的にfield_with_errorsクラスを持つdivタグで囲まれます。
//これを利用して、エラーメッセージをもっと目立たせるようにcssルールを定義しても構いません。
//https://railsguides.jp/getting_started.html#%E3%83%90%E3%83%AA%E3%83%87%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%AE%E8%BF%BD%E5%8A%A0
.field_with_errors {
    //field_with_errorsが自動付与されることでレイアウト崩れが発生するため、display: contents; でレイアウト崩れを回避する。
    display: contents;
    // もしくは diplay: inline;
}

/*タブレットレイアウト：px以下*/

@media only screen and (max-width: 750px) {
img, object, embed, video {max-width: 100%;height:auto;}
.pc-ex{ display:none;}
.sp-ex{display:block;}
}
